@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Roboto.woff2) format('woff2');
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar-track {
        background-color: rgb(239 68 68);
        border-radius: 15px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background-color: #FFCC00;
        border-radius: 15px;
    }
}